<h4>Hello {{user}},<h4>
</br>
<h4>You have requested a password reset for your account. Please click on the following link to reset your password for JackJack's Blog: </h4><a href = "{{secureLink}}">Reset JackJack's BlogApp Password</a>;
 <br/>
