<% include partials/headerSimple %>

  <div class="main_page">
    <div class="main_title">
        <h1>Jack Jack's Blog</h1>
        <div>
          <a href="/blogs" class="ui inverted grey massive button">Explore</a>
          <a href="/login" class="ui inverted grey massive button">Log In</a>
        </div>
        <h4>Please contact us at jackjack.blogapp@gmail.com</h4>
        <a  href="https://github.com/mentzel1"><i class="fab fa-github fa-3x"></i></a>
    </div>
  </div>


<% include partials/footer %>
